<div class="sc-footer fixed-bottom">
    <div class="container row" style="margin-top: 2rem;">
        <div class="col-sm-3" style="border: 1px solid black;">
            <h3 style="font-size: 1rem;">Contact Us:</h3>
            <p style="margin-top: 0rem; margin-bottom: 0; color: white">Lehigh Valley Sea Cadets</p>
            <p style="margin-top: 0rem; margin-bottom: 0; color: white">1400 Postal Road</p>
            <p style="margin-top: 0rem; margin-bottom: 0; color: white">Allentown, PA 18109</p>
        </div>
        <div class="col-sm-3" style="border: 1px solid black;">Other Things:</div>
        <div class="col-sm-3" style="border: 1px solid black;">
            <p style="margin-top: 0rem; margin-bottom: 1rem; color: white">Sponsored by:</p>
            <p style="margin-top: 0rem; margin-bottom: 0; color: white">Fleet Reserve Association</p>
            <p style="margin-top: 0rem; margin-bottom: 0; color: white">Branch #115</p>
            <p style="margin-top: 0rem; margin-bottom: 0; color: white">Black Diamonds</p>
        </div>
    </div>
</div>

@code {

}
