body {
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.sc-navbar {
    background-color: #003662 !important;
}

.sc-navitem {
    text-transform: uppercase;
}

