@inherits LayoutComponentBase

<div class="page">
    
    <nav class="navbar navbar-expand-lg banner" style="--bs-bg-opacity: 1; background-color: #003662 !important">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="https://www.seacadets.firespike.online/wp-content/uploads/2022/07/chooseadventurelogo.webp" alt="America's Sea Cadets" id="logo" data-height-percentage="70" data-actual-width="371" data-actual-height="68" width="371" height="68">
                </a>
            </div>
        </div>
        <NavMenu />
    </nav>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
