<div class="container">

    <div class="top-navigation collapse navbar-collapse d-flex flex-row-reverse">
        <ul id="top-menu">
            <NavLink class="blazor-navlink" style="display: inline-block;
                                                            font-size: 14px;
                                                            color: #ffffff;
                                                            padding-right: 22px;
                                                            text-transform: uppercase;
                                                            text-underline-position: unset;
                                                            text-decoration-color: #ffffff;">
                Join
            </NavLink>
            <NavLink class="blazor-navlink" style="display: inline-block;
                                                            font-size: 14px;
                                                            padding-right: 22px;
                                                            text-transform: uppercase;
                                                            text-decoration-color: #ffffff;">
                Parents
            </NavLink>
        </ul>
    </div>
</div>
